{% assign_local c = "c-footer" %}

<footer class="{{ c }} {{ c }}--{{ footer.footer_color_group }}">
    <a class="{{c}}__logo-link" href="/" aria-label="Home: {{ footer.logo_text }}" {% if page.url=="/" %}aria-current="page" {% endif %}>
        {% if footer.logo_image != '' %}
            {% bookshop "generic/image" image_path:footer.footer_logo_image image_alt:"Site logo" _liveRender:false  %}
        {% else %}
            <p class="{{c}}__logo-link__text">{{ footer.logo_text }}</p>
        {% endif %}
    </a>
    <div class="{{ c }}__social-icons">
            {% capture social_icon_styles %}
                icon_background_hover_color: "var(--main-text-color)"
                icon_color: "var(--main-text-color)"
                icon_hover_color: "var(--main-background-color)"
            {% endcapture %}
            {% assign_local social_icons_style = social_icon_styles | ymlify %}
            {% bookshop "generic/social-icons" social_media_links:site.social_media_links style:social_icons_style _liveRender:false %}
        </div>
        <div class="{{ c }}__navlist--wrapper">
            <ul class="{{ c }}__navlist">
                {% for navitem in footer.navigation_items %}
                    {% assign nav_item_with_slash = navitem.link_url | append: "/" %}
                    {% if page.url == navitem.link_url or page.url == nav_item_with_slash %}
                        <li class="{{ c }}__navlist__item {{ c }}__navlist__item--active" aria-current="page">
                            <a class="{{ c }}__navlist__item__link" href="{{ navitem.link_url }}">{{ navitem.label }}</a>
                        </li>
                    {% else %}
                        <li class="{{ c }}__navlist__item">
                            <a class="{{ c }}__navlist__item__link" href="{{ navitem.link_url }}">{{ navitem.label }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>            
            <div class="{{ c }}__content">{{ footer.footer_content | markdownify }}</div>
    </div>

</footer>