{%- comment -%} Page description for SEO {%- endcomment -%}
{% if .page_description %}
    <meta name="description" content="{{ .page_description }}">
    <meta property="og:description" content="{{ .page_description }}" />
{% else %}
    <meta name="description" content="{{ seo.description }}">
    <meta property="og:description" content="{{ seo.description }}" />
{% endif %}

{%- comment -%} Favicon {%- endcomment -%}
<link rel="shortcut icon" href="{{ seo.favicon }}" type="image/x-icon" />
<link rel="icon" href="{{ seo.favicon }}" type="image/x-icon" />

{% comment %} meta tags for open graph and twitter {% endcomment %}
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:type" content="website" />
<meta name="og:title" content="{{ title }}{% if seo.title %} | {{ seo.title }}{% endif %}" />
<meta name="twitter:title" content="{{ title }}{% if seo.title %} | {{ seo.title }}{% endif %}" />

{% if .featured_image.image_path %}
    <meta name="og:image" content="{{ .featured_image.image_path }}" />
    <meta name="twitter:image" content="{{ .featured_image.image_path }}" />
    {% if .featured_image.image_alt %}<meta name="twitter:image:alt" content="{{ .featured_image.image_alt }}" />{% endif %}
{% else %}
    <meta name="og:image" content="{{ seo.image.image_path }}" />
    <meta name="twitter:image" content="{{ seo.image.image_path }}" />
    {% if seo.image.image_alt %}<meta name="twitter:image:alt" content="{{ seo.image.image_alt }}" />{% endif %}
{% endif %}

{%- comment -%} Canonical URL for SEO {%- endcomment -%}
<link rel="canonical" href="{{ site.base_url }}{{ page.url | url }}" />

{% if .title == "Components" %}
<meta name="robots" content="noindex">
{% endif %}