.c-form-section-heading {
    color: var(--main-text-color);
    font-size: var(--eyebrow-heading);
    letter-spacing: var(--letter-spacing-wide);
    text-transform: uppercase;
    font-weight:var(--font-weight-bold);
}